/*
* @Author: Administrator
* @Date:   2018-04-11 10:03:02
* @Last Modified by:   Morty
* @Last Modified time: 2018-04-14 22:47:33
*/
*{
	padding: 0;
	margin: 0;
	
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: url('../img/Key.png') no-repeat center;
	background-size: cover;
}
/* .neikuan{
	width: 1194px;
	height: 5128px;
	background: lightblue;
	margin: 0 auto;
	overflow: hidden;
} */

.head{
	width: 100%;
	height: 74px;
	background: #3a3a3a;
	border-bottom: 20px solid #fff;
}
.left{
	width: 160px;
	height: 72px;
	font-size: 24px;
	text-align: center;
	line-height: 72px;
	font-family: STCaiyun;
	color: #fff6ec;
	/* padding: 24px 82px; */
	float: left;
	


}
.right{
	width: 587px;
	height: 72px;
	/* background: red; */
	position: relative;
	
	
	float: right; }
.right_text{
	width: 492px;
	height: 72px;
}	
.right_text span{
	font-size: 13px;
	text-align: center;
	line-height: 72px;
	font-family: STCaiyun;
	color: #fdfdfd;
}
.right_box{
	width: 83px;
	height: 40px;
	background: #12b461;
	float: right;
	position: absolute;
	top: 20%;
    right: 30%;
    text-align: center;
    line-height: 45px;
    font-family: STCaiyun;
	color: #fdfdfd;
} 
.self_img{
	width: 100%;
	height: 500px;
	/* background: lightyellow; */
	overflow: hidden;
	position: relative;
	border-bottom: 20px solid #535353;

}
.name{
	width: 351px;
	height: 391px;
	/* background: lightgreen; */
	margin: 66px 0 0 38px;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	font-family: SThupo;
	color: #f5fbf9;

}
.picture{
	width: 500px;
	height: 500px;
	background: url('../img/2.jpg') no-repeat center;
	background-size: cover;
	position: absolute;
	right: 0;
	top: 0;


}
.aboutme{
	width: 100%;
	height: 267px;
	/* background: lightcoral; */
	margin-top: 73px;
	font-size: 50px;
	text-align: center;
	color: #00061c;
	font-family: FZyaoti;
	position: relative;
	border-top: 20px solid #000;
	border-bottom: 20px dashed #4f9fde;
}
.hello{
	width: 145px;
	height: 70px;
	margin-top: 52px;
	background: url('../img/1.png') no-repeat center;
	background-size: cover;
}
.self_introduction{
	width: 597px;
	height: 170px;
	margin-top: 27px;
	/* background: lightcyan; */
	font-size: 17px;
}
.young{
	width: 200px;
	height: 200px;
	position: absolute;
	background: url('../img/3.jpg') no-repeat center;
	background-size: cover;
	right: 10%;
	top: 25%;

}
.skill{
	width: 100%;
	height: 700px;
	/* background: lightgrey; */
	margin-top: 66px;
	font-size: 30px;
	text-align: center;
	font-family: STCaiyun;
	position: relative;
	color: #000;

	
}
.tupian{
	width: 511px;
	height: 435px;
	/* background: lightyellow; */
	margin-right: 88px;
	position: relative;
	top: 15%;

}
.q{
	width: 241px;
	height: 193px;
	/* background: lightskyblue; */
	margin: 0 30px 49px 0;
	float: left;
	background: url('../img/q.png') no-repeat center;
	background-size: cover;
}
.w{
	width: 241px;
	height: 193px;
	background: red;
	float: right;
	background: url('../img/w.png') no-repeat center;
	background-size: cover;
	
}
.e{
	width: 241px;
	height: 193px;
	background: yellow;
	float: left;
	background: url('../img/e.png') no-repeat center;
	background-size: cover;

}

.r{
	width: 241px;
	height: 193px;
	background: green;
	
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	background: url('../img/r.png') no-repeat center;
	background-size: cover;
	
}
/* .htm{
	width: 541px;
	height: 283px;
	margin: 10px 0;
	background: lightgreen;
	float: right;
	position: absolute;
	top: 20%;
	right: 0;
} */
.experience{
	width: 532px;
	height: 653px;
	margin: 66px auto;
	/* background: lightyellow; */
	font-size: 30px;
	color: #000;
	text-align: center;
	font-family: STSong;
	float: right;
	position: absolute;
	top: 0;
	right: 3%;
	bottom: 80%;
	
}
.chu{
	width: 532px;
	height: 220px;
	/* background: red; */

}
.zuo{
	width: 158px;
	height: 219px;
	/* background: yellow; */
	border-right: 1px solid #628c78;
	border-bottom: 1px solid #628c78;
	float: left;
	font-size: 30px;
	text-align: center;
	font-family: FZyaoti;
	line-height: 219px;


}
.you{
	width: 373px;
	height: 219px;
	/* background: pink; */
	border-bottom: 1px solid #628c78;
	float: right;
	font-size: 20px;
	text-align: center;
	font-family: FZyaoti;
	line-height: 119px;


}
.gao{
	width: 532px;
	height: 220px;
	/* background: red; */

}
.zuoz{
	width: 158px;
	height: 219px;
	/* background: yellow; */
	border-right: 1px solid #628c78;
	border-bottom: 1px solid #628c78;
	float: left;
	font-size: 30px;
	text-align: center;
	font-family: FZyaoti;
	line-height: 219px;


}
.youy{
	width: 373px;
	height: 219px;
	/* background: pink; */
	border-bottom: 1px solid #628c78;
	float: right;
	font-size: 20px;
	text-align: center;
	font-family: FZyaoti;
	line-height: 119px;


}
.da{
	width: 532px;
	height: 220px;
	/* background: red; */

}
.zuozz{
	width: 158px;
	height: 219px;
	/* background: yellow; */
	border-right: 1px solid #628c78;
	border-bottom: 1px solid #628c78;
	float: left;
	font-size: 30px;
	text-align: center;
	font-family: FZyaoti;
	line-height: 219px;


}
.youyy{
	width: 373px;
	height: 219px;
	/* background: pink; */
	border-bottom: 1px solid #628c78;
	float: right;
	font-size: 20px;
	text-align: center;
	font-family: FZyaoti;
	line-height: 119px;


}
.web_design{
	width: 1140px;
	height: 700px;
	/* background: yellow; */
	margin: 5px auto 0;
	font-family: STCaiyun;
}
.web_design span{
	display: block;
	line-height: 105px;
	text-align: center;
	color: #000;
	font-size: 42px;
}
.my_design{
	width: 1140px;
	height: 520px;
	/* background: red; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.my_design a{
	display: block;
	width: 500px;
	height: 233px;
	/* background: green; */
	transition: 0.5s;
	margin-bottom: 27px;
	background-size: cover;
}
.my_design img{
	width: 500px;
	height: 233px;
	display: block;

}
.my_design a:hover{
	box-shadow: 0 7px 7px 5px rgba(0, 0, 0, 0.5);
}

.footer{
	width: 100%;
	height: 195px;
	background: #111111;
	overflow: hidden;
	margin-top: 60px;
}
.footer_top{
	width: 144px;
	height: 17px;
	/* background: red; */
	margin:73px auto 0;
}
.footer_top01{
	width: 22px;
	height: 100%;
	/* background: pink; */
	float: left;
}
.footer_top02{
	width: 22px;
	height: 100%;
	/* background: pink; */
	margin-left: 18px;
	float: left;
}
.footer_top03{
	width: 22px;
	height: 100%;
	/* background: pink; */
	margin-left: 18px;
	float: left;
}
.footer_top04{
	width: 22px;
	height: 100%;
	/* background: pink; */
	/* margin-left: 18px; */
	float: right;
}
img{
	margin: 0 auto;
}
.footer_text{
	width: 304px;
	height: 17px;
	/* background: red; */
	margin: 17px auto 0;
	font-size: 10px;
	color: #6a8879;
	text-align: center;
	line-height: 17px;
}